.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-f {
    margin-top: 200px;
}

.color-button-aluno {
    background-color: #506580;
    color: white;
}

.color-button-professor {
    background-color: #5EA96E;
    color: white;
}

.card {
    background-color: transparent !important;
    border: none !important;
}